streamlit==1.38.0
gtts==2.5.1
SpeechRecognition==3.10.4
pydub==0.25.1
numpy==1.26.4
Pillow==10.3.0
textblob==0.18.0.post0
nltk==3.9.1
rembg==2.0.56
onnxruntime==1.18.0
deepface==0.0.93
tensorflow==2.15.0
opencv-python-headless==4.10.0.84
